<div class="account-block">
    <div class="add-title-tab">
        <h3>Property media</h3>
        <div class="add-expand"></div>
    </div>
    <div class="add-tab-content">
        <div class="add-tab-row">
            <div class="property-media">
                <div class="media-gallery">
                    <div class="row">
                        <div class="col-sm-2">
                            <figure class="gallery-thumb">
                                <img id="preview-image0" name="houseImage" src="http://placehold.it/127x127" alt="thumb">
                                <span class="icon icon-fav">
                                    <i class="fa fa-star-o"></i>
                                </span>
                                <span class="icon icon-delete">
                                    <i class="fa fa-trash"></i>
                                </span>
                                <span class="icon icon-loader">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </span>
                            </figure>
                        </div>
                        <div class="col-sm-2">
                            <figure class="gallery-thumb">
                                <img id="preview-image1" name="houseImage" src="http://placehold.it/127x127" alt="thumb">
                                <span class="icon icon-fav">
                                    <i class="fa fa-star-o"></i>
                                </span>
                                <span class="icon icon-delete">
                                    <i class="fa fa-trash"></i>
                                </span>
                            </figure>
                        </div>
                        <div class="col-sm-2">
                            <figure class="gallery-thumb">
                                <img id="preview-image2" name="houseImage" src="http://placehold.it/127x127" alt="thumb">
                                <span class="icon icon-fav">
                                    <i class="fa fa-star-o"></i>
                                </span>
                                <span class="icon icon-delete">
                                    <i class="fa fa-trash"></i>
                                </span>
                            </figure>
                        </div>
                        <div class="col-sm-2">
                            <figure class="gallery-thumb">
                                <img id="preview-image3" name="houseImage" src="http://placehold.it/127x127" alt="thumb">
                                <span class="icon icon-fav">
                                    <i class="fa fa-star-o"></i>
                                </span>
                                <span class="icon icon-delete">
                                    <i class="fa fa-trash"></i>
                                </span>
                            </figure>
                        </div>
                        <div class="col-sm-2">
                            <figure class="gallery-thumb">
                                <img id="preview-image4" name="houseImage" src="http://placehold.it/127x127" alt="thumb">
                                <span class="icon icon-fav">
                                    <i class="fa fa-star-o"></i>
                                </span>
                                <span class="icon icon-delete">
                                    <i class="fa fa-trash"></i>
                                </span>
                            </figure>
                        </div>
                        <div class="col-sm-2">
                            <figure class="gallery-thumb">
                                <img id="preview-image5" name="houseImage" src="http://placehold.it/127x127" alt="thumb">
                                <span class="icon icon-fav">
                                    <i class="fa fa-star-o"></i>
                                </span>
                                <span class="icon icon-delete">
                                    <i class="fa fa-trash"></i>
                                </span>
                            </figure>
                        </div>
                    </div>
                </div>
                
                {{#if availableImages}}
                <div id="drop" class="media-drag-drop">
                 {{#file-dropzone  name="photos" as |dropzone queue|}}
                            {{#if dropzone.active}}
                                {{#if dropzone.valid}}
                                 Drop to upload
                                {{else}}
                                Invalid
                                {{/if}}
                            {{else if queue.files.length}}
                                Uploading {{queue.files.length}} files. ({{queue.progress}}%)
                            {{else}}
                                <h4><i class="fa fa-cloud-upload"></i>Upload Images
                                    <p>
                                {{#if dropzone.supported}}
                                         <br>
                                      <h4>or</h4>
                                {{/if}}
                                {{#file-upload name="photos"                                               
                                                accept="image/*"
                                                multiple=true
                                                onfileadd= (action "uploadImage")}}
                                    <a id="upload-image" class="btn btn-primary" tabindex=0>Select Images</a>
                                {{/file-upload}}
                                </p>
                                </h4>
                                
                            {{/if}}
                 {{/file-dropzone}}
                
                </div>
                 {{/if}}  
            </div>
        </div>
    </div>
</div>
{{yield}}