<div id="houzez-gmap-main" class="fave-screen-fix">
    <div class="mapPlaceholder">
        <div class="loader-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <div id="map"></div>
    <div class="map-arrows-actions">
        <button id="listing-mapzoomin" class="map-btn"><i class="fa fa-plus"></i> </button>
        <button id="listing-mapzoomout" class="map-btn"><i class="fa fa-minus"></i></button>
        <input type="text" id="google-map-search" placeholder="Google Map Search" class="map-search">
    </div>
    <div class="map-next-prev-actions">
        <ul class="dropdown-menu" aria-labelledby="houzez-gmap-view">
            <li><a href="#" onclick="fave_change_map_type('roadmap')"><span>Roadmap</span></a></li>
            <li><a href="#" onclick="fave_change_map_type('satellite')"><span>Satelite</span></a></li>
            <li><a href="#" onclick="fave_change_map_type('hybrid')"><span>Hybrid</span></a></li>
            <li><a href="#" onclick="fave_change_map_type('terrain')"><span>Terrain</span></a></li>
        </ul>
        <button id="houzez-gmap-view" class="map-btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-globe"></i> <span>View</span></button>

        <button id="houzez-gmap-prev" class="map-btn"><i class="fa fa-chevron-left"></i> <span>Prev</span></button>
        <button id="houzez-gmap-next" class="map-btn"><span>Next</span> <i class="fa fa-chevron-right"></i></button>
    </div>
    <div class="map-zoom-actions">
        <span id="houzez-gmap-location" class="map-btn"><i class="fa fa-map-marker"></i> <span>My location</span></span>
        <span id="houzez-gmap-full" class="map-btn"><i class="fa fa-arrows-alt"></i> <span>Fullscreen</span></span>
    </div>
</div>