<div class="advanced-search houzez-adv-price-range">
    <form method="post" action="#">
        {{!--<div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <div class="search-location">
                        <input class="form-control" type="text" placeholder="Enter an address, town, street, or zip">
                        <i class="location-trigger fa fa-dot-circle-o"></i>
                    </div>
                </div>
            </div>
        </div>--}}

        <div class="row">

            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="form-group">
                    {{!-- <select name="bedrooms" class="form-control" data-live-search="false" data-live-search-style="begins"
                        title="Bedrooms">
                                                <option>All New Zealand</option>
                                                <option>Auckland</option>
                                            </select> --}} {{!-- <select name="bedrooms" class="form-control" data-live-search="false"
                        data-live-search-style="begins" title="Bedrooms" {{action 'change' on='change' }}>
                                                {{#each content as |item|}}
                                                    <option value={{read-path item optionValuePath}}>
                                                    {{read-path item optionLabelPath}}
                                                    </option>
                                                {{/each}}
                                            </select> --}}

                    <select id=region name=region  class="form-control" data-live-search="false" data-live-search-style="begins" onchange={{action
                        'change' value='target' }}>
                                                {{#each regions as |item|}}
                                                    <option value={{item.value}}>
                                                    {{item.label}}
                                                    </option>
                                                {{/each}}
                                            </select> {{!-- {{fang-select id="region" name="region" content=regions}}
                    --}}
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="form-group">
                    {{!-- <select name="bathrooms" class="form-control" data-live-search="false" data-live-search-style="begins"
                        title="Bathrooms">
                                                <option>All districts</option>
                                                <option>02</option>
                                                <option>03</option>
                                                <option>04</option>
                                            </select> --}}

                    <select id=district name=district  disabled={{districtDisabled}} class="form-control" data-live-search="false" data-live-search-style="begins"
                        onchange={{action
                        'change' value='target' }}>
                                                {{#each districts as |item|}}
                                                    <option value={{item.value}}>
                                                    {{item.label}}
                                                    </option>
                                                {{/each}}
                                            </select> {{!-- {{fang-select id="district" name="district"
                    content=district}} --}}
                    
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="form-group">
                    <select id=suburb name=suburb disabled={{suburbDisabled}} class="form-control" data-live-search="false" data-live-search-style="begins"
                        {{action 'change' on='change' }}>
                                                {{#each suburbs as |item|}}
                                                    <option value={{item.value}}>
                                                    {{item.label}}
                                                    </option>
                                                {{/each}}
                                            </select> 
                    {{!-- <select class="form-control" name="type" data-live-search="false" data-live-search-style="begins">
                                                <option>All suburbs</option>
                                                <option>Type 2</option>
                                                <option>Type 3</option>
                                                <option>Type 4</option>
                                            </select> --}}
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="form-group">
                    {{!-- <select class="form-control" name="type" data-live-search="false" data-live-search-style="begins">
                                                <option>All Property Types</option>
                                                <option>Apartment</option>
                                                <option>House</option>
                                                <option>Unit</option>
                                                <option>Other</option>
                                            </select> --}}
                    <select id=propertyType name=propertyType class="form-control" data-live-search="false" data-live-search-style="begins"
                        {{action 'change' on='change' }}>
                                                {{#each propertyTypes as |item|}}
                                                    <option value={{item.value}}>
                                                    {{item.label}}
                                                    </option>
                                                {{/each}}
                                            </select> 
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="form-group">
                    {{!-- <select class="form-control" name="status" data-live-search="false" data-live-search-style="begins">
                                                <option>Price</option>
                                                <option>$50 - $100 /week</option>
                                                <option>$100 - $200 /week</option>
                                                <option>$200 - $300 /week</option>
                                                <option>$300 - $400 /week</option>
                                                <option>$400 - $500 /week</option>
                                                <option>$500 - $600 /week</option>
                                                <option>$600 - $700 /week</option>
                                                <option>$700 - $800 /week</option>
                                                <option>$800+ /week</option>
                                            </select> --}}
                        <select id=price name=price class="form-control" data-live-search="false" data-live-search-style="begins"
                        {{action 'change' on='change' }}>
                                                {{#each prices as |item|}}
                                                    <option value={{item.value}}>
                                                    {{item.label}}
                                                    </option>
                                                {{/each}}
                                            </select> 
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="form-group">
                    {{!-- <select name="bedrooms" class="form-control" data-live-search="false" data-live-search-style="begins" title="Bedrooms">
                                                <option>Bedrooms</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4+</option>
                                            </select> --}}
                                            <select id=bedroom name=bedroom class="form-control" data-live-search="false" data-live-search-style="begins"
                        {{action 'change' on='change' }}>
                                                {{#each bedrooms as |item|}}
                                                    <option value={{item.value}}>
                                                    {{item.label}}
                                                    </option>
                                                {{/each}}
                                            </select> 
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="form-group">
                    {{!-- <select name="bathrooms" class="form-control" data-live-search="false" data-live-search-style="begins" title="Bathrooms">
                                                <option>Bathrooms</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4+</option>
                                            </select> --}}
                                            <select id=bathroom name=bathroom class="form-control" data-live-search="false" data-live-search-style="begins"
                        {{action 'change' on='change' }}>
                                                {{#each bathrooms as |item|}}
                                                    <option value={{item.value}}>
                                                    {{item.label}}
                                                    </option>
                                                {{/each}}
                                            </select> 
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-6">
                <div class="form-group">
                    {{!-- <select name="Parking" class="form-control" data-live-search="false" data-live-search-style="begins" title="Parking">
                                                <option>Parking</option>
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4+</option>
                                            </select> --}}
                                            <select id=parking name=parking class="form-control" data-live-search="false" data-live-search-style="begins"
                        {{action 'change' on='change' }}>
                                                {{#each parkings as |item|}}
                                                    <option value={{item.value}}>
                                                    {{item.label}}
                                                    </option>
                                                {{/each}}
                                            </select> 
                </div>
            </div>

        </div>


    </form>
</div>