{{global/login- isShowingLoginDialog=isShowingLoginDialog}}

<header id="header-section" class="header-section-4 header-main  nav-left hidden-sm hidden-xs" data-sticky="1">
    <div class="container">
        <div class="header-left">
            <div class="logo">
                {{#link-to "home"}}
                    <img src="images/logo-color.png" alt="logo">
                {{/link-to}}           
            </div>
            <nav class="navi main-nav">
                <ul>
                    <li>
                      {{#link-to "home" }}
                      Home
                      {{/link-to}}
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header-right">
            <div class="user">
                {{!--<a href="#" data-toggle="modal" data-target="#pop-login">Sign In / Register</a>--}}               
                {{#if session.isAuthenticated}}
                    <button class="btn btn-primary" {{action 'logout'}}>Logout</button>            
                {{else}}
                    <button class="btn btn-primary" {{action 'toggleLoginModal'}}>Sign In / Register</button>    
                {{/if}}
                {{#link-to 'create' class="btn btn-primary" tagName='button'}}                
                    Create Listing
                {{/link-to}}         
            </div>
        </div>
    </div>
</header>