{{#if isShowingLoginDialog}} {{#modal-dialog onClose=(action (mut isShowingLoginDialog) false) translucentOverlay=true clickOutsideToClose=true
}}

<div class="modal-header">
    <ul class="login-tabs">
        <li class="active"><a href="#1a" data-toggle="tab">Login</a></li>
        <li><a href="#2a" data-toggle="tab">Register</a></li>
    </ul>
    <button type="button" onclick={{action (mut isShowingLoginDialog) false}} class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>

</div>
<div class="modal-body login-block">
    <div class="tab-content">
        <div class="tab-pane fade in active" id="1a">
            {{#if errorMessage}}
            <div class="message">
                <p class="error text-danger"><i class="fa fa-close"></i> You are not Logedin</p>
                <p class="success text-success"><i class="fa fa-check"></i> You are not Logedin</p>
                <p class="error text-danger"><i class="fa fa-close"></i> {{errorMessage}}</p>
            </div>
            {{/if}}
            <form {{action 'login' on='submit' }}>
                <div class="form-group field-group">
                    <div class="input-user input-icon">
                        {{!--<input type="text" placeholder="Username">--}} {{input value=username placeholder='Email' type="text"}}
                    </div>
                    <div class="input-pass input-icon">
                        {{!--<input type="password" placeholder="Password">--}} {{input value=password placeholder='Password'
                        type='password'}}
                    </div>
                </div>
                <div class="forget-block clearfix">
                    <div class="form-group pull-left">
                        <div class="checkbox">
                            <label>
                                            <input type="checkbox">
                                            Remember me
                                        </label>
                        </div>
                    </div>
                    <div class="form-group pull-right">
                        <a href="#" data-toggle="modal" data-dismiss="modal" data-target="#pop-reset-pass">I forgot username and password</a>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Login</button>
            </form>
            <hr>

        </div>
        <div class="tab-pane fade" id="2a">
            <form {{action 'register' on='submit' }}>
                <div class="form-group field-group">
                    <div class="input-user input-icon">
                        {{!--<input type="text" placeholder="Username">--}} {{input value=email placeholder='Email' type="text"}}
                    </div>
                    <div class="input-email input-icon">
                        {{!--<input type="email" placeholder="Email">--}} {{input value=password placeholder='Password' type='password'}}
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                                        <input type="checkbox">
                                        I agree with your <a href="#">Terms & Conditions</a>.
                                    </label>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Register</button>
            </form>
            <hr>

        </div>
    </div>
</div>

{{/modal-dialog}} {{/if}}