<!--start section page body-->
<div {{action "scrollTop"}}>
    <button class="btn scrolltop-btn back-top"><i class="fa fa-angle-up"></i></button>
</div>
<section id="section-body">
    <div class="container">
        <div class="membership-page-top">
            <div class="row">
                <div class="col-sm-12 col-xs-12">
                    <div class="membership-page-title">
                        <h1 class="page-title"> Complete your order </h1>
                        <p class="page-subtitle"> Please enter your Account and Billing information to complete your membership! </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="membership-content-area">
            <form {{action "createProperty" on='submit'}}>
                <div class="account-block">
                    <div class="add-title-tab">
                        <h3>Property</h3>
                        <div class="add-expand"></div>
                    </div>
                    <div class="add-tab-content">
                        <div class="add-tab-row push-padding-bottom">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group {{if errors.title 'has-error'}}">
                                        <label for="property-title">Title<span style="color:red">*</span></label>
                                        {{input value=model.title class="form-control"  placeholder="Enter your property title"}}
                                        {{#each errors.title as |error|}}
                                            <span class="help-block">{{error.message}}</span>
                                        {{/each}}
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group {{if errors.description 'has-error'}}">
                                        <label for="description">Description<span style="color:red">*</span></label>
                                        {{textarea value=model.description class="form-control" rows="6"  placeholder="Enter your description"}}
                                        {{#each errors.description as |error|}}
                                            <span class="help-block">{{error.message}}</span>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- {{post-image}} --}}
                <div class="account-block">
                    <div class="add-title-tab">
                        <h3>Property location</h3>
                        <div class="add-expand"></div>
                    </div>
                    <div class="add-tab-content">
                        {{property-location}}
                    </div>
                </div>
                <div class="account-block">
                    <div class="add-title-tab">
                        <h3>Property detail</h3>
                        <div class="add-expand"></div>
                    </div>
                    <div class="add-tab-content">
                        <div class="add-tab-row push-padding-bottom">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group {{if errors.price 'has-error'}}">
                                        <label for="property-id">Property Price<span style="color:red">*</span></label>
                                        {{input value=model.price class="form-control"   placeholder="Enter your property price"}}
                                        {{#each errors.price as |error|}}
                                         <span class="help-block">{{error.message}}</span>
                                        {{/each}}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="property-area">Area Size</label>
                                         {{input value=model.propertySize class="form-control"   placeholder="Enter your property property size"}}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group {{if errors.bedrooms 'has-error'}}">
                                        <label for="property-bedrooms">Bedrooms<span style="color:red">*</span></label>
                                        {{input value=model.bedrooms class="form-control"   placeholder="Enter your property property bedrooms"}}
                                        {{#each errors.bedrooms as |error|}}
                                         <span class="help-block">{{error.message}}</span>
                                        {{/each}}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group {{if errors.bathrooms 'has-error'}}">
                                        <label for="property-bathrooms">Bathrooms<span style="color:red">*</span></label>
                                        {{input value=model.bathrooms class="form-control"   placeholder="Enter your property property bathrooms"}}
                                        {{#each errors.bathrooms as |error|}}
                                         <span class="help-block">{{error.message}}</span>
                                        {{/each}}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group {{if errors.garage 'has-error'}}">
                                        <label for="property-garage">Garage<span style="color:red">*</span></label>
                                        {{input value=model.garage class="form-control"   placeholder="Enter your property property garage"}}
                                        {{#each errors.garage as |error|}}
                                         <span class="help-block">{{error.message}}</span>
                                        {{/each}}
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="property-year-built">Year Built</label>
                                          {{input value=model.yearBuilt class="form-control"   placeholder="Enter your property property year of built"}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="account-block">
                    <div class="add-title-tab">
                        <h3>Property Features</h3>
                        <div class="add-expand"></div>
                    </div>
                    <div class="add-tab-content">
                        <div class="add-tab-row push-padding-bottom">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                            {{input type="checkbox" checked=model.Conditioning}}
                                            Air Conditioning
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                               {{input type="checkbox" checked=model.barbeque}}
                                                Barbeque
                                            </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                               {{input type="checkbox" checked=model.dryer}}
                                                Dryer
                                            </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                                {{input type="checkbox" checked=model.gym}}
                                                Gym
                                            </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                                {{input type="checkbox" checked=model.laundry}}
                                                Laundry
                                            </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                                {{input type="checkbox" checked=model.lawn}}
                                                Lawn
                                            </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                                {{input type="checkbox" checked=model.microwave}}
                                                Microwave
                                            </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                               {{input type="checkbox" checked=model.outdoorShower}}
                                                Outdoor Shower
                                            </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                                {{input type="checkbox" checked=model.refrigerator}}
                                                Refrigerator
                                            </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                                {{input type="checkbox" checked=model.sauna}}
                                                Sauna
                                            </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                                {{input type="checkbox" checked=model.swimmingPool}}
                                                Swimming Pool
                                            </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                                {{input type="checkbox" checked=model.tv}}
                                                TV Cable
                                            </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                                {{input type="checkbox" checked=model.washer}}
                                               Washer
                                            </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                                {{input type="checkbox" checked=model.wifi}}
                                                WiFi
                                            </label>
                                    </div>
                                </div>
                                <div class="col-sm-2">
                                    <div class="checkbox">
                                        <label>
                                                {{input type="checkbox" checked=model.windowCoverings}}
                                                Window Coverings
                                            </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              <div class="account-block">
                    <div class="add-title-tab">
                        <h3>Property Onwer</h3>
                        <div class="add-expand"></div>
                    </div>
                    <div class="add-tab-content">
                        <div class="add-tab-row  push-padding-bottom">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="address">Name</label>
                                        {{input value=model.name class="form-control"   placeholder="Enter your name"}}
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group {{if errors.phone 'has-error'}}">
                                        <label for="neighborhood">Phone Number<span style="color:red">*</span></label>
                                        {{input value=model.phone class="form-control"   placeholder="Enter your phone number"}}
                                        {{#each errors.phone as |error|}}
                                         <span class="help-block">{{error.message}}</span>
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
                <div class="account-block text-right">
                    <button type="submit" class="btn btn-primary">Submit Property</button>
                </div>
            </form>
        </div> 
    </div>
</section>
<!--end section page body-->