<!--start section page body-->
<section id="section-body" class="houzez-body-half">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-12 no-padding">
                <div class="map-half fave-screen-fix">
                    {{property-map datamodel=model}}
                </div>
            </div>

            <div class="col-md-7 col-sm-7 col-xs-12 no-padding">
                <div class="module-half fave-screen-fix">
                    {{!-- {{property-area-search filterByArea=(action 'filterByCity')}} --}}
                    {{!-- <button {{action "filterByCity"}}>test</button> --}}
                    {{!-- {{input
                        key-up=(action 'filterByCity')
                        placeholder="Filter By City"}} --}}
                    {{property-search filterByCity=(action 'filterByCity') filterByDistrict=(action 'filterByDistrict')}}

                    <div class="houzez-module">
                        <div class="list-tabs table-list full-width">
                            <div class="tabs table-cell">
                                <h2 class="tabs-title">Properties</h2>
                            </div>
                            <div class="sort-tab table-cell text-right">
                                <span class="view-btn btn-list active">
                                    <i class="fa fa-th-list"></i>
                                </span>
                                <span class="view-btn btn-grid">
                                    <i class="fa fa-th-large"></i>
                                </span>
                            </div>
                        </div>

                        <div class="property-listing list-view">
                            <div class="row">
                                {{#each model as |property|}} 
                                        <div class="item-wrap ">
    <div class="property-item table-list">
        <div class="table-cell">
            <div class="figure-block">
                <figure class="item-thumb">
                    <span class="label-featured label label-success">Featured</span>
                    <div class="price hide-on-list">
                        <h3>$350,000</h3>
                        <p class="rant">$21,000/mo</p>
                    </div>
                {{#link-to "view" property.id}}
                        {{!-- <img src="{{property.images.firstObject.src}}" alt="thumb"> --}}
                        <img src="{{property.images.0.src}}" alt="thumb">
                        {{!-- <img src="https://trademe.tmcdn.co.nz/photoserver/plus/688379031.jpg" alt=""> --}}
                {{/link-to}}
                    <div class="thumb-caption cap-actions clearfix">
                        <ul class="list-unstyled actions pull-right">
                            <li>
                                <span title="" data-placement="top" data-toggle="tooltip" data-original-title="Favorite">
                                    <i class="fa fa-heart"></i>
                                </span>
                            </li>
                            <li class="share-btn">
                                <div class="share_tooltip fade">
                                    <a target="_blank" href="#">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a target="_blank" href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a target="_blank" href="#">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                    <a target="_blank" href="#">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </div>
                                <span title="" data-placement="top" data-toggle="tooltip" data-original-title="share">
                                    <i class="fa fa-share-alt"></i>
                                </span>
                            </li>
                            <li>
                                <span data-original-title="Photos (12)" data-toggle="tooltip" data-placement="top" title="">
                                    <i class="fa fa-camera"></i>
                                    <!--<span class="count">(12)</span>-->
                                </span>
                            </li>
                        </ul>
                    </div>
                </figure>
            </div>
        </div>
        <div class="item-body table-cell">
            <div class="body-left table-cell">
                <div class="info-row">
                    <div class="rating">
                        <span data-title="Average Rate: 4.67 / 5" class="bottom-ratings tip">
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span class="fa fa-star-o"></span>
                            <span style="width: 50%" class="top-ratings">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </span>
                        </span>
                        <span class="star-text-right">{{property.rate}} Ratings</span>
                    </div>
                    <h2 class="property-title">
                       {{#link-to "view" property.id}}
                        {{property.title}}
                        {{/link-to}}
                    </h2>
                    <h4 class="property-location">{{property.address}} {{property.city}}</h4>
                </div>
                <div class="info-row amenities hide-on-grid">
                    <p>
                        <span>Beds: {{property.bedrooms}}</span>
                        <span>Baths: {{property.bathrooms}}</span>
                    </p>
                    <p>{{property.type}}</p>
                </div>
                <div class="info-row date hide-on-grid">
                    <p>
                        <i class="fa fa-user"></i>
                        <a href="#">{{property.phone}}</a>
                    </p>
                    <p>
                        <i class="fa fa-calendar"></i> 12 Days ago </p>
                </div>
            </div>
            <div class="body-right table-cell hidden-gird-cell">
                <div class="info-row price">
                    <h3>${{property.price}}/week</h3>
                </div>
                <div class="info-row phone text-right">
                    <a href="#" class="btn btn-primary">Details
                        <i class="fa fa-angle-right fa-right"></i>
                    </a>
                </div>
            </div>

            <div class="table-list full-width hide-on-list">
                <div class="cell">
                    <div class="info-row amenities">
                        <p>
                            <span>Beds: 4</span>
                            <span>Baths: 2</span>
                            <span>Sq Ft: 1200</span>
                        </p>
                        <p>Single Family Home</p>
                    </div>
                </div>
                <div class="cell">
                    <div class="phone">
                        <a href="#" class="btn btn-primary"> Details
                            <i class="fa fa-angle-right fa-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="item-foot date hide-on-list">
        <div class="item-foot-left">
            <p>
                <i class="fa fa-user"></i>
                <a href="http://localhost/houzez-wp/agent/brittany-watkins/">Brittany Watkins</a>
            </p>
        </div>
        <div class="item-foot-right">
            <p>
                <i class="fa fa-calendar"></i>4 months ago</p>
        </div>
    </div>
</div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--end section page body-->